@{
    ViewData["Title"] = "Search Results";
}
<html>
<body style="background-color:teal;">
    <h1 class="display-4">Here are your matching recipes!</h1>
    <p></p>
</body>
</html>
@model List<RecipeFavoriteVM>

<form action="../SpiceyRecipe/ConstructEndpoint" method="post">
    <label>&nbsp;</label><input type="text" name="querry" placeholder="Something Spicier" />
                        
    <input type="submit" value="Spice it up!" />
</form>

<a href="../Favorite/Index" style="float: right" class="btn btn-success">
    Go to Favorites list
</a>

<a href="../Home/AdvancedSearch" class="btn btn-danger">
    Search for specifc spiciness!
</a>

@for (int i = 0; i < Model.Count; i++)
{

    <table class="table table-hover table-info" style="table-layout:fixed">
        <tr class="thead-dark">



            <td>@Model[i].title<br /></td>

            <td><img src="@Model[i].thumbnail" style="width:100px;height:100px"/><br /> </td>

            <td><a>The ingredients are: </a>@Model[i].ingredients</td>
            <td><a href="@Model[i].href" target="_blank" rel="noopener noreferrer">Find the recipe here</a></td>

            <td>
                @if (!Model[i].isFavorite)
                {
                    <form action="../SpiceyRecipe/AddToFavorites" method="post">
                        <input type="text" name="title" value="@Model[i].title" hidden />
                        <input type="text" name="href" value="@Model[i].href" hidden />
                        <input type="text" name="ingredients" value="@Model[i].ingredients" hidden />
                        <input type="text" name="thumbnail" value="@Model[i].thumbnail" hidden />
                        <input type="number" name="page" value="@Model[0].page" hidden />
                        <input type="submit" class="btn-success" value="Add To Favorites" />
                    </form>
                }
                else
                {
                    <a href="../Favorite/Index">This is already a favorite! Click here to go to see all of them!</a>
                }

            </td>



        </tr>
    </table>
}

<div class="float-right">

       
            @if (Model[0].page == 1 || Model[0].page == 0)
            {
                <p>Page 1</p>
                <form action="../SpiceyRecipe/Paginate" method="post">
                    <input type="text" name="direction" value="+" hidden />
                    <input type="submit" value="Next Page" />
                </form>
            }
            else
            {
                <form action="../SpiceyRecipe/Paginate" method="post">
                    <input type="text" name="direction" value="-" hidden />
                    <input type="submit" value="<-- Previous Page" />
                </form>
                <form action="../SpiceyRecipe/Paginate" method="post">
                    <input type="text" name="direction" value="+" hidden />
                    <input type="submit" value="Next Page -->" />
                </form>
            }

        
</div>


